---
layout: default
---
<div class="home">

  <h1>Solutions</h1>

  {% assign pages = site.pages %}

  <ul class="posts">
    {% for page in pages %}
    {% if page.layout == 'solution' %}
    {% if page.eaten == true %}
      <li>
        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% if page.eaten == true %}
        <em>[Code and Explanation]</em>
        {% else %}
        <em>[Code only]</em>
        {% endif %}
      </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>

  <ul class="posts">
    {% for page in pages %}
    {% if page.layout == 'solution' %}
    {% if page.eaten != true %}
      <li>
        <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% if page.eaten == true %}
        <em>[Code and Explanation]</em>
        {% else %}
        <em>[Code only]</em>
        {% endif %}
      </li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>

</div>
